
/**********************Reset*********************/
body {min-width: 1210px;}
h1, h3, h2, p, a {
	margin: 0;
}
.row {margin: 0;}
.container-fluid {padding: 0;}
.container {
	min-width: 1170px;
	max-width: 1200px;
}

 .form-inline .input-group .input-group-addon,
 .form-inline .input-group .input-group-btn,
 .form-inline .input-group .form-control {
    width: 100%;
  }
 .btn-primary {
  color: #0b0b0b;
  background: #fff;
  border-color: #fff;
  -webkit-transition: color 0.5s; /* Safari 3.1 to 6.0 */
  transition: color 0.5s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f00000;
  background-color: #fff;
  border-color: #fff;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fff;
  border-color: #fff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
  .modal-content {
   -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
           box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
  }
 .col-md-4_custom {
 	position: relative;
 	float: left;
    min-height: 1px;
    width: 31.33333333%;
 }  
/********Start breadcrumbs*********/
.breadcrumb {
	background-color: #fff;
	margin: 0;
	padding: 11px 0;
}
.breadcrumb li a {
	font-family: 'pt_sansregular';
	font-size: 13px;
	color: #000000;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}
.breadcrumb > .active {
  font-family: 'pt_sansregular';
  font-size: 13px;
  color: #777;
}
.breadcrumb > .active:before {
  background: url(../img/crumbs_arrow.png) 3px 4px no-repeat;
}
.breadcrumb > li + li:before {
  padding: 0 10px;
  color: #ccc;
  content: "";
  background: url(../img/crumbs_arrow.png) 3px center no-repeat;
}
/********End breadcrumbs*********/

/********Start pagination*********/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  font-family: 'open_sansbold';
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  background-color: #e8e8e8;
  -webkit-transition: background 0.5s; /* Safari 3.1 to 6.0 */
  transition: background 0.5s
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #000000;

}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;

}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;

}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 14px 20px;
  font-size: 14px;
}
/********End pagination*********/
.container, .col-md-4, 
.col-md-8, .col-md-9, 
.col-md-3, .col-md-2, 
.col-md-1, .col-md-12  {
	padding: 0;
}
.overflow {overflow: hidden;}
.inline {display: inline-block;}


.margin-top-3 {margin-top: 3px;}
.margin-top-5 {margin-top: 5px;}
.margin-top-7 {margin-top: 7px;}
.margin-top-10 {margin-top: 10px;}
.margin-top-15 {margin-top: 15px;}
.margin-top-17 {margin-top: 17px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}

.margin-bottom-3 {margin-bottom: 3px;}
.margin-bottom-5 {margin-bottom: 5px;}
.margin-bottom-8 {margin-bottom: 8px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-12 {margin-bottom: 12px;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-17 {margin-bottom: 17px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-25 {margin-bottom: 25px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-33 {margin-bottom: 33px;}
.margin-bottom-35 {margin-bottom: 35px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-bottom-45 {margin-bottom: 45px;}
.margin-bottom-50 {margin-bottom: 50px;}
.margin-bottom-60 {margin-bottom: 60px;}
.margin-bottom-65 {margin-bottom: 65px;}
.margin-bottom-70 {margin-bottom: 70px;}
.margin-bottom-155 {margin-bottom: 155px;}


.margin-right-2 {margin-right: 2px;}
.margin-right-3 {margin-right: 3px;}
.margin-right-5 {margin-right: 5px;}
.margin-right-7 {margin-right: 7px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-15 {margin-right: 15px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-22 {margin-right: 22px;}
.margin-right-25 {margin-right: 25px;}
.margin-right-30 {margin-right: 30px;}
.margin-right-35 {margin-right: 35px;}
.margin-right-40 {margin-right: 40px;}
.margin-right-50 {margin-right: 50px;}
.margin-right-55 {margin-right: 55px;}
.margin-right-60 {margin-right: 60px;}
.margin-right-65 {margin-right: 65px;}
.margin-right-70 {margin-right: 70px;}
.margin-right-95 {margin-right: 95px;}


.margin-left-5 {margin-left: 5px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-15 {margin-left: 15px;}
.margin-left-20 {margin-left: 20px;}


.padding-9 {padding: 9px 9px 5px 9px;} 

.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}
.padding-30 {padding: 30px;}
.padding-40 {padding: 40px;}


.padding-left-30 {padding-left: 30px;}
.padding-left-40 {padding-left: 40px;}

.padding-right-10 {padding-right: 10px;}
.padding-right-13 {padding-right: 13px;}
.padding-right-15 {padding-right: 15px;}
.padding-right-20 {padding-right: 20px;}
.padding-right-23 {padding-right: 23px;}
.padding-right-25 {padding-right: 25px;}
.padding-right-30 {padding-right: 30px;}
.padding-right-35 {padding-right: 35px;}


.padding-top-0 {padding-top: 0px;}
.padding-top-3 {padding-top: 3px;}
.padding-top-5 {padding-top: 5px;}
.padding-top-6 {padding-top: 6px;}
.padding-top-10 {padding-top: 10px;}
.padding-top-15 {padding-top: 15px;}
.padding-top-20 {padding-top: 20px;}
.padding-top-25 {padding-top: 25px;}
.padding-top-30 {padding-top: 30px;}
.padding-top-40 {padding-top: 40px;}
.padding-top-50 {padding-top: 50px;}
.padding-top-60 {padding-top: 60px;}

.padding-bottom-10 {padding-bottom: 10px;}
.padding-bottom-15 {padding-bottom: 15px;}
.padding-bottom-20 {padding-bottom: 20px;}
.padding-bottom-25 {padding-bottom: 25px;}
.padding-bottom-30 {padding-bottom: 30px;}
.padding-bottom-40 {padding-bottom: 40px;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.float-none	{float: none;}

.wrap {overflow: hidden;}

.bg_red {background: #ff5223;}
.bg_grey {background: #f2f2f2;}
.bg_blue {background: #2f8ffb;}
.bg_footer {background: #ebecee;}

.border_grey {border: 1px solid #dcdcdc;}
.border_grey_1 {border: 1px solid #ededed;}
.border_white_1 {border: 1px solid #fff;}
.border_bottom_dashed {border-bottom: 1px dashed #d1d1d1;}
.border_right_dashed {border-right: 1px dashed #d1d1d1;}
.border_left_dashed {border-left: 1px dashed #d1d1d1;}
.border-right_grey {border-right: 1px solid #e8e8e8;}
.border-bottom_grey {border-bottom: 1px solid #ededed;}
.border-bottom_grey_1 {border-bottom: 1px solid #e8e8e8;}
.border-bottom_black {border-bottom: 2px solid #0e1215;}

.border-radius-3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.color_red {color: #ff0000;}
.color_red_1 {color: #d11818;}
.color_orange {color: #ff7748;}
.color_black {color: #000000;}
.color_white {color: #fff;}
.color_grey {color: #636363;}
.color_grey_1 {color: #c7c7c7;}
.color_grey_2 {color: #b6b7b8;}
.color_grey_3 {color: #707070;}
.color_grey_4 {color: #a5a5a5;}
.color_grey_5 {color: #9e9e9e;}
.color_grey_6 {color: #afafaf;}
.color_grey_7 {color: #c0c0c0;}
.color_grey_8 {color: #4f4f4f;}
.color_grey_9 {color: #636363;}


.ptsans_regular {font-family: 'pt_sansregular';}
.ptsans_bold {font-family: 'pt_sansbold';}
.ptserif_regular {font-family: 'pt_serifregular';}
.opensans_regular {font-family: 'open_sansregular';}
.opensans_bold {font-family: 'open_sansbold';}

.font_bold {font-weight: bold;}
.font_normal {font-weight: normal;}
.font-normal {font-style: normal;}
.font_weight_500 {font-weight: 500;}

.font_11 {font-size: 11px;}
.font_12 {font-size: 12px;}
.font_14 {font-size: 14px;}
.font_16 {font-size: 16px;}
.font_18 {font-size: 18px;}
.font_20 {font-size: 20px;}
.font_24 {font-size: 24px;}
.font_30 {font-size: 30px;}
.font_36 {font-size: 36px;}

.ln-h_8 {line-height: 8px;}
.ln-h_10 {line-height: 10px;}
.ln-h_11 {line-height: 11px;}
.ln-h_18 {line-height: 18px;}
.ln-h_20 {line-height: 20px;}
.ln-h_24 {line-height: 24px;}
.ln-h_26 {line-height: 26px;}
.ln-h_28 {line-height: 28px;}
.ln-h_37 {line-height: 37px;}
.ln-h_45 {line-height: 45px;}

.relative {position: relative;}


.width-100-percent {width: 100%;}
.width-15 {width: 15px}
.width-77 {width: 77%}
.width-57 {width: 57px}
.width-95 {width: 95px}
.width-98 {width: 98px}
.width-191 {width: 191px}
.width-255 {width: 255px}
.width-860 {width: 860px}


.height-20 {height: 20px;}
.height-36 {height: 36px;}
.height-53 {height: 53px;}
.height-57 {height: 57px;}
.height-75 {height: 75px;}
.height-76 {height: 76px;}
.height-80 {height: 80px;}
.height-100 {height: 100px;}
.height-300 {height: 300px;}
.height-381 {height: 381px;}
.height-395 {height: 395px;}


/*.col-md-4 {width: 30.33333333%;}*/
.col-md-14 {width: 14.666667%;}
.col-md-4-30 {
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  width: 32%;
  float: left;
}
.col-md-2-a {
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  width: 11.666667%%;
  float: left;
}
.col-md-main {
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  width: 877px;
  float: left;
}
/********Start index*********/
.container_top .avatar {
	margin: 8px 18px 0 0;
	width: 76px;
	height: 76px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}
.container_top .header_item .in {
	/*border-right: 1px solid #e8e8e8;*/
	background: url(../img/index_header_border_marker.png) 100% center no-repeat;
}
.container_top .header_item:last-child .in {
	/*border-right: none;*/
	background: none;
}
.container .header_item__text {
	width: 74%;
}
.container_top .border_marker {
	position: absolute;
	width: 1px;
	height: 75px;
	top: 29px;
	right: 14px;
	background: #e8e8e8;
}
.container_top .blog_link, 
.sidebar_box .blog_link {
	font-family: 'pt_serifregular';
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}
.container_top .blog_link:hover,
.sidebar_box .blog_link:hover {
	color: #f00000;
}
.container_top p {
	font-family: 'pt_sansregular';
	font-size: 14px;
	line-height: 18px;
	color: #636363;
}
.container_top span, 
.sidebar_box p,
.sidebar_box span {
	font-family: 'pt_serifregular';
	font-size: 13px;
}
.container_top .modal-content label {
	font-family: 'open_sansregular';
	font-size: 30px;
	color: #fff;
	margin-left: 10px;
}
.container_top .modal-content .header_search {
	font-family: 'open_sansregular';
	font-size: 30px;
	height: 50px;
	color: #fff;
	background: transparent;
}
.container_top .search_block .search_btn {
	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 28px;
}

.sidebar_box .fb_plugin {
	background: url(../img/fb_plugin.png) 0 0 no-repeat;
}
.sidebar_box .twitter_plugin {
	background: url(../img/twitter_plugin.png) 0 0 no-repeat;
}
.container-fluid_black {
	height: 7px;
	background: #373b41;
}
.container-fluid_grey {
	background: #f4f5f7;
}
/****Start logo****/
.index_header .logo {
	width: 310px;
	margin: 0 auto;
}
.index_header .logo a{
	display: block;
	height: 45px;
	/*padding-left: 20px;*/
	background: url(../img/logo.png) 16px 0 no-repeat;
	font-size: 0;
}
.logo_block span {
	font-family: 'pt_serifregular';
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 1px;
}
/****End logo****/
.search_block .header_search, 
.search_block .header_search_btn  {
	border: none;
}
.search_block .header_search {
 -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, 1);
          box-shadow: inset 0 0px 0px rgba(255, 255, 255, 1);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/**************Start placeholder**************/
.form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
  	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 25px;
}
.form-control:-ms-input-placeholder {
  color: #000000;
  	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 25px;
}
.form-control::-webkit-input-placeholder {
  color: #000000;
  	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 25px;
}
/**************End placeholder**************/

/**************Start index_menu**************/
.navbar-nav.nav-justified {
    display:table;
}

.navbar-nav.nav-justified > li{
    float:none;
    width: 10%;
}

/**************End index_menu**************/

/**************Start content**************/

/********Start main*********/
.article_head {
	font-size: 23px; 
}
.article_head_skin {
	font-family: 'pt_serifregular';
	font-size: 18px;
	line-height: 14px;
	color: #000000;	
}
.article_description_skin {
	font-family: 'pt_sansregular';
	font-size: 12px;
	line-height: 17px;
	color: #9e9e9e;	
}
.article_text_skin {
	font-family: 'pt_sansregular';
	font-size: 14px;
	line-height: 20px;
	color: #6a6a6a;	
}
.article_link {
	font-family: 'open_sansbold';
	font-size: 15px;
	line-height: 28px;
	color: #000000;	
}
.content .load_more {
	font-family: 'pt_sansbold';
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	border: none;
}

.content .comments_amount {
	padding-left: 17px;
	background: url(../img/comments_icon.png) 1px 2px no-repeat;
}
.content .views_amount {
	padding-left: 20px;
	background: url(../img/pin.png) -1px 0px no-repeat;
}
.content .descript_date {
	padding-left: 20px;
	background: url(../img/calendar.png) 1px 0px no-repeat;
}
.content .facebook {
	background: url(../img/share_facebook.png) 0 0 no-repeat;
}
.content .google {
	background: url(../img/share_google.png) 0 0 no-repeat;
}
.content .vk {
	background: url(../img/share_vk.png) 0 0 no-repeat;
}
.content .twitter {
	background: url(../img/share_twitter.png) 0 0 no-repeat;
}



.content .section_head {
	font-family: 'pt_serifregular';
	font-size: 36px;
	line-height: 28px;
	color: #000000;
}

.content .list-inline .time {
	font-family: 'open_sansregular';
	font-size: 11px;
	line-height: 24px;
	color: #9e9e9e;
}
.content .list-inline li a {
	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}
.content .col_item li a {
	font-family: 'pt_serifregular';
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}
.content .list-inline li a:hover {
	text-decoration: none;
	color: #f00000;
}
.content .dl-horizontal .news_list_tag,
.sidebar_box .dl-horizontal .news_list_tag {
	padding: 3px 5px 0px 6px ;
	color: #fff;
	font-family: 'pt_sansbold';
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.content .block_date {
	font-family: 'pt_sansbold';
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0px 10px;
	background: #fff;
	letter-spacing: 0.8px;
}
.content .block_date_row {
	background: url(../img/bg_line.png) 0 center repeat-x;
}
.content .fa-th {
	font-size: 19px;
}
.content .fa-bars {
	font-size: 20px;
}
.content .blogs_author {
	background: url(../img/blogs_marker.png) 124px 3px no-repeat;
}
.content .dl-horizontal dt {
    float: left;
    width: 20px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content .dl-horizontal dd {
    margin-left: 27px;
}
.content .news_row .dl-horizontal dt {
    float: left;
    width: 40px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
}
.content .news_row .dl-horizontal dd {
    margin-left: 42px;
}
.content .blogger_name {
	padding: 0 78px 0 78px;
}
.content .blogger_name p {
	padding-bottom: 20px;
	background: url(../img/blogger_line.png) center 100% no-repeat;
}
.content .article_text .dl-horizontal dt {
    float: left;
    width: 110px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
}
.content .article_text .dl-horizontal dd {
    margin-left: 113px;
}
.content .likes_dislikes {
	background: url(../img/thumbs.png) 0 center no-repeat;
}
.content .media-heading {
	background: url(../img/comments_marker.png) 114px center no-repeat;
}
.content .reply {
	background: url(../img/comments_marker.png) 66px center no-repeat;
}
.content .triag {
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
}
.content .triag_black {
	left: 32px;
	bottom: 0;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #000000 transparent;
}
.content .triag_white {
	left: 33px;
	bottom: -2px;
	border-width: 0 14px 15px 14px;
	border-color: transparent transparent #ffffff transparent;
}
.content .container {background: url(../img/main_bg_line.png) 907px 0 repeat-y;}

.content .blogs_row {
	border: 1px solid #fff;
}
.content .blogs_row:hover {
	border: 1px solid #ededed;
}
.index_menu {
	background: #373b41;
}
.index_menu .navbar-nav > li > a {
  background: url(../img/header_menu_marker.png) 1px 21px no-repeat;
  -webkit-transition: color 0.5s; /* Safari 3.1 to 6.0 */
    transition: color 0.5s;
}
.index_menu .navbar-nav > li:first-child > a {
  background: none;
}
/********Start slider*********/
/** Stage container **/

.connected-carousels .stage {
    width: 859px;
    /*margin: 10px auto;*/
    position: relative;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 735px;
    padding: 15px 0;
    margin: 0 auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel-stage li {
    float: left;
    width: 859px;
    height: 574px;
    background: #f2f2f2;
    text-align: center;
    line-height: 574px;
}
.connected-carousels .carousel-navigation li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 574px;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 94px;
    width: 740px;
    background: #f2f2f2;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;

}

.connected-carousels .carousel-navigation li img {
    display: block;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 574px;
    background: rgba(240,240,239, .4);
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: block;
    position: absolute;
    top: 42%;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    opacity: 1;
}

.connected-carousels .prev-stage span {
    left: 0;
    background: url(../img/arrow-left.png) center center no-repeat;
}

.connected-carousels .next-stage span {
    right: 0;
    background: url(../img/arrow-right.png) center center no-repeat;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.connected-carousels .prev-navigation {
    left: -43px;
    top: 43px;
    text-indent: 6px;
    background: url(../img/black-arrow-left.png) center center no-repeat;
}

.connected-carousels .next-navigation {
    right: -39px;
    top: 43px;
    text-indent: 20px;
    background: url(../img/black-arrow-right.png) center center no-repeat;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}
/********End slider*********/

/********End main*********/

/********Start sidebar*********/
.sidebar_box .category, .sidebar_box .amount {
	display: inline-block;
}
.sidebar_box h2 {
	font-family: 'pt_serifregular';
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 20px;	
}
.sidebar_box .category {
	font-family: 'pt_serifregular';
	font-size: 18px;
	line-height: 28px;
	color: #000000;	
}
.sidebar_box .category:hover {
	color: #f00000;	
}
.sidebar_box .amount {
	font-family: 'pt_serifregular';
	font-size: 18px;
	line-height: 28px;
	color: #b6b7b8;	
}
.sidebar_box .dl-horizontal dt {
    float: left;
    width: 40px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.sidebar_box .dl-horizontal dd {
    margin-left: 42px;
  }
.sidebar_box .blog_item__text {
	width: 68%;
}
.sidebar_box .blog_item__text h3 {
	line-height: 19px;
}
/********End sidebar*********/

/**************End content**************/


/**************Start footer**************/
.footer-logo .ft_logo {
	width: 250px;
}
.footer-logo .ft_logo a{
	display: block;
	height: 29px;
	background: url(../img/footer_logo.png) 0 0 no-repeat;
	font-size: 0;
}
.footer-logo span {
	font-family: 'pt_sansregular';
	font-size: 14px;
	line-height: 30px;
	color: #7d8087;
	text-transform: capitalize;	
}
.sitemap .menu_item {
	display: block;
	font-family: 'pt_sansregular';
	font-size: 14px;
	line-height: 10px;	
	color: #000000;	
}
.sitemap .menu_item:hover {
	text-decoration: underline;
}
.contacts .contacts_item {
	font-family: 'pt_sansregular';
	font-size: 14px;
	line-height: 13px;
	
	color: #80848c;
	display: inline-block;	
}
.social .social-icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 20px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.6s; /* Safari 3.1 to 6.0 */
    transition: background 0.6s;
}
.comments_social .social-icon {
	display: inline-block;
	width: 33px;
	height: 33px;
	margin-right: 10px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.6s; /* Safari 3.1 to 6.0 */
    transition: background 0.6s;
}
.social .facebook {
	background: #3b5998 url(../img/facebook_icon.png) center center no-repeat;
}
.social .facebook:hover {
	background: #213153 url(../img/facebook_icon.png) center center no-repeat;
}
.comments_social .facebook {
	background: #3b5998 url(../img/facebook_icon.png) center center no-repeat;
}
.comments_social .facebook:hover {
	background: #213153 url(../img/facebook_icon.png) center center no-repeat;
}
.social .twitter {
	background: #00aced url(../img/twitter_icon.png) center center no-repeat;
}
.social .twitter:hover {
	background: #0095cd url(../img/twitter_icon.png) center center no-repeat;
}
.comments_social .twitter {
	background: #00aced url(../img/twitter_icon.png) center center no-repeat;
}
.comments_social .twitter:hover {
	background: #0095cd url(../img/twitter_icon.png) center center no-repeat;
}
.comments_social .google_plus {
	background: #434647 url(../img/google_white.png) 9px center no-repeat;
}
.comments_social .google_plus:hover {
	background: #585d5e url(../img/google_white.png) 9px center no-repeat;
}
.social .vk {
	background: #4c75a3 url(../img/vk_icon.png) center center no-repeat;
}
.social .vk:hover {
	background: #334e6b url(../img/vk_icon.png) center center no-repeat;
}
.white_box .footer_white_box {
	width: 127px;
	height: 36px;
	background: #fff;
}
/**************End footer**************/

/********End index*********/